{% block content %}

    {% for style in asset_styles("styles.css") %}
        {{ style|raw }}
    {% endfor %}

    <!--
    -->

    <div class="layout-controls">
        <ul class="list-inline">
            <li class="list-inline-item">
                <div class="layout-handle">
                    <a href="javascript:;"><i class="fa fa-arrows"></i></a>
                </div>
            </li>
            <li class="list-inline-item">
                {{ extension_name }}
            </li>
        </ul>

        <div class="dropdown pull-right">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-cog "></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <!--
                <a href="#" class="dropdown-item" data-toggle="collapse" data-expand="Expand" data-collapse="Collapse">
                    <i class="fa fa-compress "></i> <span>Collapse</span>
                </a>
                <div class="dropdown-divider"></div>
                -->

                <a href="#" class="dropdown-item text-danger layout-row-delete">
                    <i class="fa fa-trash"></i> <span>Delete</span>
                </a>
            </div>
        </div>
    </div>

    <div class="layout-form">
        {{ content|raw }}
    </div>

    {% for script in asset_scripts("scripts.js") %}
        {{ script|raw }}
    {% endfor %}

{% endblock %}