<ul class="list-inline">
    <li class="list-inline-item">
        <div class="layout-handle">
            <a href="javascript:;"><i class="fa fa-arrows"></i></a>
        </div>
    </li>
    <li class="list-inline-item">
        {{ name }}
    </li>
</ul>
