.layout-field_type {
  .layout-rows {

    .layout-controls {
      color: #fff;
      background: #3e3e3e;
      padding: 0.5rem 1rem;

      ul {
        margin-bottom: 0;
      }

      a {
        color: white;
      }

      .dropdown {
        top: -23px;

        .dropdown-menu a {
          color: #55595c;
        }
      }
    }

    .placeholder {
      background-color: #eee !important;
    }

    .layout-row, .placeholder {
      margin-bottom: 10px;
      background-color: white;
      position: relative;

      &.dragged {
        position: absolute;
        z-index: 1000;
      }

      .layout-handle {
        cursor: move;
      }

      .layout-form {
        background-color: #f1f1f1;
        padding: 1rem;

        .form {
          .field-group {
            border-bottom: 1px solid #999;

            .form-group {
              margin-top: 0px;
            }
          }
        }
      }
    }
  }
}